/**
 * CSS for slides
 */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#current-slide-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	word-wrap: break-word;
}

#slides {
  display: none;
}

#current-slide-container p {
  margin: 0;
  padding: 0;
  line-height: .9em;
  position: absolute;
  top: 0;
  left: 0;
}

#current-slide-container.center {
  text-align: center;
}

#current-slide-container.right {
  text-align: right;
}

#current-slide-container.justify {
  text-align: justify;
}